@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Inter', sans-serif; 
font-family: 'Unbounded', cursive;
*/

html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
    scroll-behavior: smooth;
    margin-top: 0;
}

h1 {
    font-family: 'Unbounded', cursive;
    font-size: 57px;
    line-height: 64px;
    color: #151515;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Unbounded', cursive;
    font-size: 36px;
    line-height: 44px;
    color: #151515;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #151515;
    font-family: 'Unbounded', cursive;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    color: #151515;
    font-family: 'Unbounded', cursive;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    color: #151515;
    font-family: 'Unbounded', cursive;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

h6 {
    color: #151515;
    font-family: 'Unbounded', cursive;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

p {
    color: #151515;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-body {
    font-family: 'Inter', sans-serif;
    color: #151515;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-body.small {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.p-body.large {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}


.small {
    font-size: 14px;
    color: #6C6C6C;
}

.label {
    font-family: 'Inter', sans-serif;
    color: #151515;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: none;
    margin-bottom: none;
}

.label.large {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.label.small {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.text-link.small {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
    
}


.text-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #004a36;
    transition: all 500ms ease;
}

.text-link.onDark {
    color: #A3E6D4;
}

.text-link:hover {
    color: #00B987;
    transition: all 500ms ease;
}


.text-link.onDark:hover {
    color: #00B987;
}

.c-toasts {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 18px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.icon-small {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.c-alert {
    font-family: 'Inter', sans-serif;
    padding: 24px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 1.6em;
    margin-top: 0px;
    margin-bottom: 0px ;
}

.c-toasts.info {
    border-color: #152dff;
    color: #151515;
}

.c-toasts.error {
    border-color: #d6002b;
    color: #151515;
}

.c-toasts.success {
    color: #151515;
    border-color: #4DC477;
}

.c-alert.info {
    background-color: #f3f4ff;
    color: #152dff;
    border: 1px solid #152dff;
}

.c-alert.error {
    background-color: #fff2f5;
    color: #d6002b;
    border: 1px solid #d6002b;
}

.c-alert.success {
    background-color: #f6fcf8;
    color: #004a36;
    border: 1px solid #4DC477;
}

.t-text-alert {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin-top: auto;
    margin-bottom: auto;
}

.t-text-alert.info {
    color: #152dff;
}

.t-text-alert.error {
    color: #d6002b;
}

.t-text-alert.success {
    color: #004a36;
}


.c-sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 100%;
    width: 16%;
    background: #fAFAFA;
}

.c-brand-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 6px;
    justify-content: flex-start;
}


.c-card-wrapper {
    overflow: hidden;
    position: relative;
    padding: 48px 24px;
    background-image: linear-gradient(360deg, #F5F5F5 0%, #FCFCFC 100%);
    border-radius: 12px;
    box-shadow: 0px 10px 4px rgba(135, 135, 135, 0.01), 0px 5px 3px rgba(135, 135, 135, 0.03), 0px 2px 2px rgba(135, 135, 135, 0.04), 0px 1px 1px rgba(135, 135, 135, 0.05), 0px 0px 0px rgba(135, 135, 135, 0.05);
    transition: 500ms ease;
    cursor: pointer;

    transition: all 500ms ease;
}

.card-background {
    position: absolute;
    background-image: linear-gradient(0deg, #151515 0%, #383838 50%);
    opacity: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    z-index: 0;

    transition: 300ms ease;
}

.c-card-wrapper .card-background {
    opacity: 0;

    transition: 300ms ease;
}



.c-card-wrapper:hover .card-background {
    opacity: 1;

    transition: 300ms ease;
}

.c-card-wrapper:hover {
    transition: 350ms ease;
    transform: translateY(-12px);
}

.c-card-wrapper:hover .c-avatar {
    transform: translateY(-100px);

    transition: 300ms ease;
}

.c-card-wrapper .c-avatar {
    transform: translateY(0%);

    transition: 300ms ease;
}


.c-card-wrapper:hover h6 {
    transform: translateY(-48px);
    color: #FFFFFF;
    z-index: 1;

    transition: 300ms ease;
}

.c-card-wrapper h6 {
    transform: translateY(0px);
    color: #151515;
    z-index: 1;

    transition: 300ms ease;
}


.c-card-wrapper:hover .p-body.small {
    transform: translateY(-48px);
    color: #FFFFFF;
    z-index: 1;

    transition: 300ms ease;
}

.c-card-wrapper .p-body.small {
    transform: translateY(0px);
    color: #151515;
    z-index: 1;

    transition: 300ms ease;
}

.c-card-wrapper:hover .card-icon-2 {
    transform: translateY(0%);
    stroke: #FFFFFF;

    transition: 300ms ease;
}

.c-card-wrapper .card-icon-2 {
    transform: translateY(101%);
    stroke: #FFFFFF;

    transition: 300ms ease;
}


.c-card-wrapper:hover .card-icon-1 {
    transform: translateY(-48px);

    transition: 300ms ease;
}

.c-card-wrapper .card-icon-1 {
    transform: translateY(0px);

    transition: 300ms ease;
}


.card-contents {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    z-index: 1;
}

.c-avatar {
    height: auto;
    width: auto;
}

.c-avatar-wrapper {
    margin-bottom: 12px;
    overflow: hidden;
}


.card-icon-1 {
    position: absolute;
}

.card-icon-2 {
    position: relative;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.c-brand_content {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 0px;
    gap: 12px;
    margin-left: 12px;
    justify-content: flex-start;
    align-items: center;
}

.c-brand-wrapper.padded {
    padding-left: 18px;
}

.c-brand-wrapper.justify-center {
    justify-content: center;
}

.c-logo.small {
    width: 48px;
    height: 48px;
}

.c-logo.medium {
    width: 96px;
    height: 96px;
}

.c-logo.large {
    width: 144px;
    height: 144px;
}

.c-brand-text {
    font-family: 'Unbounded', cursive;
    color: #151515;
    text-transform: uppercase;
    margin-bottom: 0px !important;
    margin-bottom: 0px !important;
    letter-spacing: 1px;
    font-weight: 300;
}

.c-brand-text h2 {
    margin-top: 0px;
}

.c-brand-text.small {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
}

.c-brand-text.medium {
    font-size: 26px;
    line-height: 28px;
    margin-top: 0px;
}

.c-brand-text.large {
    font-size: 44px;
    line-height: 46px;
    margin-top: 0px;
}

.c-brand-text.large.onDark {
    color: #FFFFFF;
}

.a-navlink {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 300ms ease;
    border-left: 4px solid #FFFFFF00;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navlink {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    color: #6c6c6c;
}

.a-navlink:focus .navlink {
    color: #6c6c6c;
}

.a-navlink:hover .navlink {
    color: #151515;
    transition: all 300ms ease;
}

.a-navlink:hover .nav-icon path {
    stroke: #151515;
    transition: all 300ms ease;
}

.active, .a-navlink:hover {
    background: #F5F5F5;
    color: #151515;
    border-left: 4px solid #FFFFFF00;
    transition: all 300ms ease;
}

.a-navlink:active {
    background: #F5F5F5;
    border-left: 4px solid #FFFFFF00;
}

.a-navlink:active .navlink {
    color: #6C6C6c;
}

.a-navlink:active .nav-icon path {
    stroke: #6c6c6c;
}


.active {
    background: #F2F2F2;
    padding-left: 32px;
    transition: all 300ms ease;
}


.active:hover {
    background: #CCCCCC;
    transition: all 300ms ease;
}

.active:hover .navlink {
    color: #151515;
}

.active:hover .nav-icon path {
    stroke: #151515;
}

.active .navlink {
    color: #151515;
    font-weight: 500;
}

.nav-icon path {
    stroke: #6c6c6c;
}

.active .nav-icon path {
    stroke: #151515;
}

.nav-icon:active path {
    stroke: #CCCCCC;
}

.c-link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.c-sidebar-contents {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    max-height: 100%;
}

.c-sidebar-contents-2 {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    height: 100%;
}

.divider {
    margin-top: 48px;
    margin-bottom: 48px;
    min-height: 2px;
    background: #F5F5F5;
    width: 100%;
}

/* Toggle Switches */

input[type="checkbox"] {
    position: relative;
    width: 28px;
    height: 18px;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 400ms ease;
    border: 2px solid #151515;
    outline: none;
}
  
input[type="checkbox"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #151515;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
    outline: none;
}
  
input[type="checkbox"]:checked::before {
    transform: translateX(100%);
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    outline: none;
}
  
input[type="checkbox"]:checked {
    background-color: #151515;

}

input[type="checkbox"]:focus {
    outline: none !important;
}


/* >>>>>> PRIMARY BUTTON & HOVER STATES <<<<<< */

.btn-primary {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 12px;
    min-height: 60px;
    max-height: 60px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #F5F5F5;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 500ms ease;
    background: linear-gradient(0deg, #151515 0%, #383838 50%);
    box-shadow: 0px 14px 6px rgba(0, 0, 0, 0.01), 0px 8px 5px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary.pressed {
    background: linear-gradient(324.03deg, #151515 22.5%, #5B5B5B 83.63%);
    box-shadow: inset 0px 15px 4px rgba(0, 0, 0, 0.02), inset 0px 9px 4px rgba(0, 0, 0, 0.15), inset 0px 5px 3px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(0, 0, 0, 0.85), inset 0px 1px 1px rgba(0, 0, 0, 0.98);
}

.btn-primary.pressed:hover {
    background: linear-gradient(324.03deg, #151515 22.5%, #5B5B5B 83.63%);
    box-shadow: none;
}

.btn-primary.pressed .btn-icon-2 {
    transform: translateY(0px);
    opacity: 0.75;
}

.btn-primary.pressed:hover .btn-icon-2 {
    transform: translateY(0px);

    opacity: 1;
}

.btn-primary.pressed .btn-icon-1 {
    transform: translateY(50px);
}

.btn-primary.pressed:hover .btn-icon-1 {
    transform: translateY(50px);
}

.btn-primary.pressed .btn-text-1 {
    transform: translateY(50px);
}

.btn-primary.pressed:hover .btn-text-1 {
    transform: translateY(50px);
}

.btn-primary.pressed .btn-text-2 {
    transform: translateY(0px);
    opacity: 0.75;
}

.btn-primary.pressed:hover .btn-text-2 {
    transform: translateY(0px);

    opacity: 1;
}

.btn-primary.disabled {
    background: linear-gradient(324.03deg, #151515 22.5%, #5B5B5B 83.63%);
    box-shadow: none;
    opacity: .75;
}

.btn-primary.disabled:hover {
    box-shadow: none;
    opacity: .74;
    cursor: not-allowed;
}

.btn-primary.disabled .btn-text-2 {
    transform: translateY(0px);
}

.btn-primary.disabled .btn-text-2 {
    z-index: 1;
    transform: translateY(0px);
    color: #F5F5F5;
    opacity: 0.75;
}

.btn-icon-wrapper {
    position: relative;
    display: flex;
    margin-left: -12px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: none;
}

.btn-icon-1 {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    z-index: 1;
}

.btn-icon-2 {
    max-width: 24px;
    max-height: 24px;
    position: relative;
    z-index: 1;
}

.btn-text-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    background: none;
}

.btn-text-1 {
    color: #F5F5F5;
    position: absolute;
    z-index: 1;
}

.btn-text-2 {
    color: #f5f5f5;
    position: relative;
    z-index: 1;
}

.btn-primary:hover {
    box-shadow: none;

    transition: all 500ms ease;
}

.btn-primary .btn-text-1 {
    transform: translateY(0px);

    transition: all 400ms ease;
}

.btn-primary:hover .btn-text-1 {
    transform: translateY(50px);

    transition: all 400ms ease;
}

.btn-primary .btn-text-2 {
    transform: translateY(-50px);

    transition: all 400ms ease;
}

.btn-primary:hover .btn-text-2 {
    transform: translateY(0px);

    transition: all 400ms ease;
}

.btn-primary .btn-icon-1 {
    transform: translateY(0px);

    transition: all 500ms;
}

.btn-primary:hover .btn-icon-1 {
    transform: translateY(50px);

    transition: all 500ms ease;
}

.btn-primary .btn-icon-2 {
    transform: translateY(-50px);

    transition: all 500ms ease;
}

.btn-primary:hover .btn-icon-2 {
    transform: translateY(0px);

    transition: all 500ms ease;
}


.btn-primary .btn-primary-hover {
    opacity: 0;

    transition: opacity 800ms ease;
}

.btn-primary:hover .btn-primary-hover {
    opacity: 1;

    transition: all 800ms ease;
    -webkit-transition: .8s ease;
}

.btn-primary-hover {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    min-height: 100%;
    opacity: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 500ms ease;
    background: linear-gradient(324.03deg, #151515 22.5%, #5B5B5B 83.63%);
    box-shadow: inset 0px 15px 4px rgba(0, 0, 0, 0.02), inset 0px 9px 4px rgba(0, 0, 0, 0.15), inset 0px 5px 3px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(0, 0, 0, 0.85), inset 0px 1px 1px rgba(0, 0, 0, 0.98);
}

/* ^^^^^^ PRIMARY BUTTON & HOVER STATES ^^^^^^ */

/* >>>>> SECONDARY BUTTON & HOVER STATES */

.btn-secondary {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 12px;
    min-height: 60px;
    max-height: 60px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #151515;
    letter-spacing: 0.5px;
    cursor: pointer;
    background: linear-gradient(360deg, #F5F5F5 0%, #FCFCFC 100%);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.09), 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

    transition: all 500ms ease;
}

.btn-secondary.pressed {
    background: linear-gradient(360deg, #F5F5F5 0%, #FCFCFC 100%);
    box-shadow: inset -4px 11px 5px rgba(0, 0, 0, 0.01), inset -2px 6px 4px rgba(0, 0, 0, 0.05), inset -1px 3px 3px rgba(0, 0, 0, 0.09), inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-secondary .btn-icon-1 {
    transform: translateY(0px);

    transition: all 500ms ease;
}

.btn-secondary:hover .btn-icon-1 {
    transform: translateY(50px);

    transition: all 500ms ease;
}

.btn-secondary .btn-icon-2 {
    transform: translateY(-50px);

    transition: all 500ms ease;
}

.btn-secondary:hover .btn-icon-2 {
    transform: translateY(0px);

    transition: all 500ms ease;
}

.btn-text-3 {
    color: #151515;
    position: absolute;
    z-index: 1;
}

.btn-text-4 {
    color: #151515;
    position: relative;
    z-index: 1;
}

.btn-secondary .btn-text-3 {
    transform: translateY(0px);

    transition: all 400ms ease;
}

.btn-secondary:hover .btn-text-3 {
    transform: translateY(50px);

    transition: all 400ms ease;
}

.btn-secondary .btn-text-4 {
    transform: translateY(-50px);

    transition: all 400ms ease;
}

.btn-secondary:hover .btn-text-4 {
    transform: translateY(0px);

    transition: all 400ms ease;
}

.btn-secondary:hover {
    box-shadow: none;

    transition: all 500ms ease;
}

.btn-secondary .btn-secondary-hover {
    opacity: 0;

    transition: all 800ms ease;
}

.btn-secondary:hover .btn-secondary-hover {
    opacity: 1;

    transition: all 800ms ease;
}

.btn-secondary.pressed .btn-icon-1 {
    transform: translateY(50px);
}

.btn-secondary.pressed:hover .btn-icon-1 {
    transform: translateY(50px);
}

.btn-secondary.pressed .btn-icon-2 {
    transform: translateY(0px);

    opacity: 0.75;
}

.btn-secondary.pressed:hover .btn-icon-2 {
    transform: translateY(0px);

    opacity: 1;
}

.btn-secondary.pressed .btn-text-3 {
    transform: translateY(50px);
}

.btn-secondary.pressed:hover .btn-text-3 {
    transform: translateY(50px);
}

.btn-secondary.pressed .btn-text-4 {
    transform: translateY(0px);
    opacity: 0.75;
}

.btn-secondary.pressed:hover .btn-text-4 {
    transform: translateY(0px);

    opacity: 1;
}

.btn-secondary.pressed .btn-secondary-hover {
    opacity: 1;
}

.btn-secondary.disabled {
    box-shadow: none;

    opacity: .5;
}

.btn-secondary.disabled:hover {
    opacity: 0.45;
    cursor: not-allowed;
}

.btn-secondary-hover {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    min-height: 100%;
    opacity: 0;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(360deg, #F5F5F5 0%, #FCFCFC 100%);
    box-shadow: inset -4px 11px 5px rgba(0, 0, 0, 0.01), inset -2px 6px 4px rgba(0, 0, 0, 0.05), inset -1px 3px 3px rgba(0, 0, 0, 0.09), inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* ^^^^^^ SECONDARY BUTTON & HOVER STATES ^^^^^^ */

.color-block {
    border-radius: 12px;
    overflow: hidden;
    height: 70px;
    width: 100%;
}

.cc-font-color_dark {
    width: 100%;
    height: 100%;
    background: #151515;
    color: #151515;
}

.cc-font-color_light {
    width: 100%;
    height: 100%;
    color: #F5F5F5;
    background: #F5F5F5;
}

.cc-accent-color_1 {
    width: 100%;
    height: 100%;
    background: #00B987;
}

.cc-accent-color_1.dark {
    width: 100%;
    height: 100%;
    background: #004a36;
}

.cc-accent-color_1.light {
    width: 100%;
    height: 100%;
    background: #A3E6D4;
}

.cc-accent-color_2 {
    width: 100%;
    height: 100%;
    background: #FEA837;
}

.cc-accent-color_2.dark {
    width: 100%;
    height: 100%;
    background: #664316;
}

.cc-accent-color_2.light {
    width: 100%;
    height: 100%;
    background: #FECB87;
}

.cc-accent-color_3 {
    width: 100%;
    height: 100%;
    background: #E03339;
}

.cc-accent-color_3.dark {
    width: 100%;
    height: 100%;
    background: #5A1417;
}

.cc-accent-color_3.light {
    background: #EC8588;
}

.cc-accent-color_4 {
    width: 100%;
    height: 100%;
    background: #4AB9FC;
}

.cc-accent-color_4.dark {
    width: 100%;
    height: 100%;
    background: #1E4A65;
}

.cc-accent-color_4.light {
    width: 100%;
    height: 100%;
    background: #92D5FD;
}

.cc-light-grey {
    width: 100%;
    height: 100%;
    background: #CCCCCC;
    color: #CCCCCC;
}

.cc-light-grey-2 {
    width: 100%;
    height: 100%;
    background: #6C6C6C;
}

.cc-dark-grey {
    width: 100%;
    height: 100%;
    background: #484848;
    color: #484848;
}

.cc-dark-grey-2 {
    width: 100%;
    height: 100%;
    background: #383838;
}

.cc-dark-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #151515 0%, #383838 50%);
}

.cc-light-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #F5F5F5 0%, #FCFCFC 100%);
}

.cc-alert-color.info {
    width: 100%;
    height: 100%;
    background: #152dff;
}

.cc-alert-color.info-light {
    width: 100%;
    height: 100%;
    background: #F3F4FF;
}

.cc-alert-color.error {
    width: 100%;
    height: 100%;
    background: #FF0033;
}

.cc-alert-color.error-light {
    width: 100%;
    height: 100%;
    background: #fff2f5;
}

.cc-alert-color.success {
    width: 100%;
    height: 100%;
    background: #4DC477;
}

.cc-alert-color.success-light {
    width: 100%;
    height: 100%;
    background: #F6FCF8;
}


.text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
}


/* >>>> Sections, containers, rows, columns, spacers <<<<< */

.l-section {
    position: static;
}

.l-section.background-1 {
    background: #004a36;
}

.l-container {
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 12px;
    flex-direction: column;
    border-radius: 12px;
    background: transparent;
}


.l-section.background-1 h3 {
    color: #FFFFFF;
}

.l-section.background-1 .p-body {
    color: #FFFFFF;
}

.l-row {
    display: flex;
    flex-direction: row;
    margin-right: -12px;
    margin-left: -12px;
    align-content: stretch;
}

.l-row.align-start {
    align-items: flex-start;
}

.l-row.align-center {
    align-items: center;
}

.l-row.align-end {
    align-items: flex-end;
}

.l-row.justify-start {
    justify-content: flex-start;
}

.l-row.justify-center {
    justify-content: center;
}

.l-row.justify-end {
    justify-content: flex-end;
}

.l-row.justify-between {
    justify-content: space-between;
}

.l-row.justify-around {
    justify-content: space-around;
}

.col {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    font-family: 'Inter', sans-serif;
    color: #151515;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.col.no-gutters {
    padding-right: 0px;
    padding-left: 0px;
}

.col.col-1 {
    width: 8.3%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 8.3333333%;
}

.col.col-2 {
    max-width: 16.66%;
    flex-basis: 16.67%;
}

.col.col-3 {
    max-width: 25%;
    flex-basis: 25%;
}

.col.col-4 {
    max-width: 33.33%;
    flex-basis: 33.33%;
}

.col.col-5 {
    max-width: 41.66%;
    flex-basis: 41.67%;
}

.col.col-6 {
    max-width: 50%;
    flex-basis: 50%;
}

.col.col-7 {
    max-width: 58.33%;
    flex-basis: 58.333%;
}

.col.col-8 {
    max-width: 66.66%;
    flex-basis: 67.67%;
}

.col.col-9 {
    max-width: 75%;
    flex-basis: 75%;
}

.col.col-10 {
    max-width: 83.33%;
    flex-basis: 83.33%;
}

.col.col-11 {
    width: 91.66%;
    flex-basis: 91.67%;
}

.col.col-12 {
    max-width: 100%;
    flex-basis: 100%;
}

.col.self-start {
    align-self: flex-start;
}

.col.self-center {
    align-self: center;
}

.col.self-end {
    align-self: flex-end;
}

.col.order-first {
    order: -1;
}

.col.order-last {
    order: 1;
}


.spacer {
    width: 100%;
    height: auto;
}

.spacer-example {
    background: #fff2f5;
    border-radius: 12px;
    height: 100%;
}

.spacer._12 {
    overflow: hidden;
    height: 12px;
}

.spacer._24 {
    overflow: hidden;
    height: 24px;
}

.spacer._36 {
    overflow: hidden;
    height: 36px;
}

.spacer._48 {
    overflow: hidden;
    height: 48px;
}

.spacer._72 {
    overflow: hidden;
    height: 72px;
}

.spacer._96 {
    overflow: hidden;
    height: 96px;
}

/* ^^^^^^ Sections, containers, rows, columns ^^^^^^ */


/* Inputs */


input:focus {
    outline: 2px solid #00B987 !important;
    color: #151515;
}

.inputBox {
    font-size: 14px;
    color: #CCCCCC;
}

.input-wrapper {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 48px 24px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #FAFAFA;
}

.input-wrapper-strength {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 48px 24px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #FAFAFA;
    padding-bottom: 72px;
}

.input-wrapper .inputBox {
    position: relative;
    width: 100%;
}

.input-wrapper-strength .inputBox {
    position: relative;
    width: 100%;
}

.input-wrapper .inputBox input {
    position: relative;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 6px;
    border: 2px solid #f5f5f5;
    padding: 12px;
    font-size: 1em;
    color: #151515;
}

.input-wrapper-strength .inputBox input {
    position: relative;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 6px;
    border: 2px solid #f5f5f5;
    padding: 12px;
    font-size: 1em;
    color: #151515;
}




.input-wrapper-strength .strengthMeter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: transparent;
}

.input-wrapper-strength .strengthMeter::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.5s;
    border-radius: 50px;
}

.input-wrapper-strength.weak .strengthMeter::before {
    width: 10%;
    background: #FF0033;
}

.input-wrapper-strength.medium .strengthMeter::before {
    width: 66.66%;
    background: #FF9900;
}

.input-wrapper-strength.strong .strengthMeter::before {
    width: 100%;
    background: #4DC477;
}

.input-wrapper-strength .strengthMeter::after {
    position: absolute;
    top: -36px;
    left: 30px;
    color: #FFF;
    transition: 0.5s;
}

.input-wrapper-strength.weak .strengthMeter::after {
    content: "Weak";
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #FF0033;
}

.input-wrapper-strength.medium .strengthMeter::after {
    content: "medium";
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #FF9900;
}

.input-wrapper-strength.strong .strengthMeter::after {
    content: "Strong";
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #4DC477;
}

.show {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    background: transparent;
    border: 6px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    padding: 12px 0px;
}


.show::before {
    content:"Show";
    font-size: 0.6em;
    color: #6C6C6C;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

.show.hide::before {
    content: "Hide";
}


.sg-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.sg-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #717171;
    padding: 3px 0px;
}


.sg-subheader.info {
    font-family: 'Inter', sans-serif;
    padding: 24px;
    border-radius: 12px;
    background-color: #f3f4ff;
    color: #152dff;
    font-size: 15px;
    line-height: 1.6em;
}

.sg-subheader.error {
    font-family: 'Inter', sans-serif;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff2f5;
    color: #d6002b;
    font-size: 15px;
    line-height: 1.6em;
}

.sg-subheader.success {
    font-family: 'Inter', sans-serif;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff2f5;
    color: #004a36;
    font-size: 15px;
    line-height: 1.6em;
}

.sg-row-example {
    min-width: 100%;
    height: 150px;
    background: #fff2f5;
    border-radius: 12px;

}

.sg-label p {
    font-size: 11px;
    line-height: 16px;
    color: #717171;
}

.icon-wrapper {
    display: flex;
    gap: 6px;
    overflow: hidden;
    position: relative;
}

.inner-div-example {
    background: #F5F5F5;
    border: 2px solid #CCCCCC;
    border-radius: 12px;
    padding: 12px 0px;
    max-width: 99.9%;
    max-height: 99.9%;
    color: #6C6C6C;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
